<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome-to-Clash</title>
    <style>
        .container {
            background-color: aqua;
            color: blue;
        }
    </style> 
</head>
<body>
    <div class="container">

        <h1>Welcome-to-Clash</h1>
        <p>aataa maaji satakli</p>
    </div>
</body>
</html>